@import '~@oceanbase/design/es/theme/index.less';
.deleteContainer {
  :global {
    .ant-modal-content {
      width: 424px;
      background-color: @colorBgContainer;
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      .ant-modal-confirm-title {
        font-weight: 500;
        font-size: 16px;
        color: @colorText;
        letter-spacing: 0;
        line-height: 24px;
      }
      .ant-modal-confirm-content {
        font-weight: 400;
        font-size: 14px;
        color: @colorTextSecondary;
        letter-spacing: 0;
        line-height: 22px;
      }
    }
    .ant-modal-content button {
      background-color: @colorBgContainer;
      border: 1px solid @colorBorder;
      border-radius: 2px;
      color: @colorTextSecondary;
    }
    .ant-btn-dangerous {
      border: 1px solid @colorError !important;
      color: @colorError !important;
    }
    .ant-modal-confirm-btns {
      margin-top: 24px;
    }
  }
}
