@import '~@oceanbase/design/es/theme/index.less';

.ob-cloud-icon-tip {
  .anticon-question-circle {
    color: @colorTextTertiary;
    margin-left: 4px;
  }

  &.small {
    font-size: 12px;
  }

  &.large {
    font-size: 16px;
  }
}

.ob-cloud-base-tip {
  color: @colorTextTertiary;

  .anticon-exclamation-circle {
    color: @colorTextTertiary;
    margin-right: 2px;
  }

  &.small {
    font-size: 12px;
  }

  &.large {
    font-size: 16px;
  }
}
